<!-- Sidebar - Brand -->
<a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'healthw-home' %}">
    <div class="sidebar-brand-icon rotate-n-15">

    </div>
    <div class="sidebar-brand-text mx-3">ITS <sup></sup></div>
</a>

<!-- Divider -->
<hr class="sidebar-divider my-0">

<!-- Nav Item - Dashboard -->
<li class="nav-item active">
    <a class="nav-link " href="{% url 'phealth-home' %}">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
</li>

<!-- Divider -->
<hr class="sidebar-divider">

<!-- Nav Item - Tables -->
<!-- Heading -->
<div class="sidebar-heading">
    Map View
</div>


<li class="nav-item">
    <a class="nav-link" href="{% url 'phealth-maps' %}">
        <i class=" fas fa-fw fa-table "></i>
        <span>Map</span></a>

</li>
<hr class="sidebar-divider ">


<!-- Heading -->
<div class="sidebar-heading ">
    Analysis
</div>

<!-- Nav Item - records -->
<li class="nav-item ">
    <a class="nav-link " href="{% url 'all-centre-records' %} ">
        <i class="fas fa-folder-plus "></i>
        <span>All Records</span></a>
</li>
<!-- Nav Item - records -->
<li class="nav-item ">
    <a class="nav-link " href="{% url 'hc-charts' %} ">
        <i class="fas fa-folder-open "></i>
        <span>Charts</span></a>
</li>

<li class="nav-item ">
    <a class="nav-link " href="{% url 'hc-tables' %} ">
        <i class="fas fa-folder-open "></i>
        <span>Tables</span></a>
</li>


<hr class="sidebar-divider ">

<!-- Heading -->
<div class="sidebar-heading ">
    Personal Details
</div>


<li class="nav-item ">
    <a class="nav-link " href="{% url 'main-profile' %} ">
        <i class="fas fa-user "></i>
        <span>Profile</span></a>
</li>

<hr class="sidebar-divider ">

<!-- Heading -->
<div class="sidebar-heading ">
    Log Details
</div>

<li class="nav-item ">
    <a class="nav-link " href="{% url 'logout' %} ">
        <i class="fas fa-fw fa-sign-out-alt "></i>
        <span>Log out</span></a>
</li>






<!-- Sidebar Toggler (Sidebar) -->
<div class="text-center d-none d-md-inline ">
    <button class="rounded-circle border-0 " id="sidebarToggle "></button>
</div>